#tribute-info {
  background:#F8F8FF;
  padding-top:20px;
  padding-right:20px;
  padding-bottom:20px;
  font-family:'Castoro';
  font-weight: normal;
  line-height:20px;
  font-size:17px;
}

body {
  background-color:#F8F8FF;
}

#title {
  text-align:center;
  font-family: 'Dancing Script';
}

h2 {
  text-align:center;
  font-family: 'Dancing Script';
}

#img-div{
  text-align:center;
  background-color:white;
  padding-top:30px;
  padding-bottom: 0 px;
  font-family: 'Castoro';
  font-weight:normal;
  line-height:20px;
  font-size:17px;
  
}

img {
   max-width: 100%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.font {
  font-family:'Castoro';
  font-weight: bold;
}
p {
  text-align:center;
  font-size:20px;
}

#footer{
  text-align:center;
  font-size:17px;
}
